.toolbar {
    display: flex;
    flex-direction: row;
    &-option {
        border-style: outset;
        padding: .25rem;
        & > a {
            text-decoration: none;
            color: black;
        }
    }
}

.button-wrapper {
    display: inline;
}

.user {
    color: green;
}